// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --cc-red-: hsl(0, 100%, 74%);
    --cc-green-: hsl(154, 59%, 51%);
    --cc-blue-: hsl(248, 32%, 49%);
    --cc-dark-blue-: hsl(249, 10%, 26%, 0.3);
    --cc-gray-blue-: hsl(246, 25%, 77%);
    
    --ff-poppins-: 'Poppins', sans-serif;
}

* {
    font-family: var(--ff-poppins-);
}

body {
    background-image: url('../images/bg-intro-desktop.png');
    background-position: center;
    background-repeat: repeat;
    background-color: var(--cc-red-);
    font-size: 1rem;
}

.main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "wrapper-top"
    "wrapper-bottom";
}

.wrapper-top { 
    grid-area: wrapper-top; 
    margin: 4em 2em 0em 2em;
    color: white;
    text-align: center;
    font-size: 0.75rem;
    header {
        margin-bottom: 2em;   
    }
    
    p {
        font-weight: 500;
        margin: 0em 0.75em 2em 0.75em;
    }
}

.wrapper-bottom { 
    grid-area: wrapper-bottom; 
    
    &--card {
        margin: 0em 2em 0em 2em;
        background-color: var(--cc-blue-);
        padding: 1em 2em 1em 2em;
        border-radius: 15px;
        text-align: center;
        color: white;
        box-shadow: 0px 6px 0px var(--cc-dark-blue-);
        
        span {
            font-weight: 600;
        }
    }
    &--form {
        
        display: flex;
        flex-direction: column;
        margin: 2em 2em 4em 2em;
        background-color: white;
        padding: 1.5em;
        border-radius: 15px;
        box-shadow: 0px 6px 0px var(--cc-dark-blue-);
        
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        input {
            font-weight: 600;
            padding: 1em;
            margin-top: 1em;
            border-radius: 5px;
            border: 1px solid var(--cc-gray-blue-);
        }
        
        input:focus {
            outline: none;
        }
        
        button {
            margin: 1em 0em 1em 0em;
            background-color: var(--cc-green-);
            border-radius: 5px;
            border-style: none;
            color:white;
            text-transform: uppercase;
            padding: 1em 1.6em 1em 1.6em;
            cursor: pointer;
            box-shadow: 0px 3px 0px var(--cc-dark-blue-);
        }
        
        button:focus {
            outline: none;
        }
        
        footer {
            text-align: center;
            font-size: 0.75rem;
            color: var(--cc-gray-blue-);
            
            span {
                color: var(--cc-red-);
                font-weight: 600;
            }
            
            a, a:hover, a:visited, a:active {
                text-decoration: none;
            }
        }
    }
}

// Error statees not visible
#first-name, #last-name, #email, #password {
    small {
        display: none; // change to none
        color: var(--cc-red-);
        text-align: right;
        font-size: 0.5rem;
    }
    
    img {
        display: none;
        position: absolute;
        right: 75px;
        height: 20px;
        transform: translateY(-175%);
    }
    
    input:focus {
        outline: none;
    }
}
// Error states visible
#first-name.error, #last-name.error, #email.error, #password.error {
    small {
        display: block; // change to none
        color: var(--cc-red-);
        text-align: right;
        font-size: 0.5rem;
    }
    img {
        display: block;
        position: absolute;
        right: 75px;
        height: 20px;
        transform: translateY(-175%);
    }
    
    input {
        border: 1px solid var(--cc-red-);
        color: var(--cc-red-);
    }
}

@media (min-width:375px) {
    input {
        width: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}


@media (min-width:768px) {
    body {
        background-image: url('../images/bg-intro-desktop.png');
        background-position: center;
        background-repeat: repeat;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
    }
    .wrapper-top {
        max-width: 60%;
        h1 {
            font-size: 3rem;
        }
        
        p { font-size: 1rem;
        }
    }

    input {
        width: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    #first-name.error, #last-name.error, #email.error, #password.error {
        img {
            display: block;
            position: absolute;
            right: 265px;
            height: 20px;
            transform: translateY(-175%);
        }
    }
    
}

@media (min-width:1000px) {
    
    html, body {
        height: 100%;
    }
    
    html {
        display: table;
        margin: auto;
    }
    
    body {
        display: table-cell;
        vertical-align: middle;
        background-image: url('../images/bg-intro-desktop.png');
        background-position: center;
        background-repeat: repeat;
    }
    
    input {
        width: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .main {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        gap: 0px 0px;
        grid-auto-flow: column;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        grid-template-areas:
        "wrapper-top wrapper-bottom";
    }
    
    .wrapper-bottom {
        
        justify-self: center;
        align-self: center;
        grid-area: wrapper-bottom;
        
    }
    
    .wrapper-top {
        justify-self: start;
        align-self: center;
        grid-area: wrapper-top;
        
        header {
            text-align: left;
            font-size: 2rem;
            margin-bottom: 2em;   
        }
        
        p {
            text-align: left;
            font-size: 1rem;
            font-weight: 500;
            margin: 0em 0.75em 2em 0.75em;
        }
    }
}

@media (min-width:1000px) { 
    .wrapper-top {
        max-width: 50%;
        justify-self: end;
    }
    
    .wrapper-bottom {
        justify-self: start;
        padding-right: 12em;
    }
}

@media (min-width:1750px) { 
    .wrapper-top {
        max-width: 50%;
        justify-self: end;
    }
    
    .wrapper-bottom {
        justify-self: start;
        padding-right: 30em;
    }
    
    #first-name.error, #last-name.error, #email.error, #password.error {
        img {
            display: block;
            position: absolute;
            right: 565px;
            height: 20px;
            transform: translateY(-175%);
        }
    }
}