@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --cc-red-: hsl(0, 100%, 74%);
  --cc-green-: hsl(154, 59%, 51%);
  --cc-blue-: hsl(248, 32%, 49%);
  --cc-dark-blue-: hsl(249, 10%, 26%, 0.3);
  --cc-gray-blue-: hsl(246, 25%, 77%);
  --ff-poppins-: 'Poppins', sans-serif;
}

* {
  font-family: var(--ff-poppins-);
}

body {
  background-image: url("/images/bg-intro-desktop.png");
  background-position: center;
  background-repeat: repeat;
  background-color: var(--cc-red-);
  font-size: 1rem;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "wrapper-top" "wrapper-bottom";
}

.wrapper-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: wrapper-top;
  margin: 4em 2em 4em 2em;
  color: white;
  text-align: center;
  font-size: 0.75rem;
}

.wrapper-top header {
  margin-bottom: 2em;
}

.wrapper-top p {
  font-weight: 500;
  margin: 0em 0.75em 2em 0.75em;
}

.wrapper-bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: wrapper-bottom;
}

.wrapper-bottom--card {
  margin: 0em 2em 0em 2em;
  background-color: var(--cc-blue-);
  padding: 1em 2em 1em 2em;
  border-radius: 15px;
  text-align: center;
  color: white;
  -webkit-box-shadow: 0px 6px 0px var(--cc-dark-blue-);
          box-shadow: 0px 6px 0px var(--cc-dark-blue-);
}

.wrapper-bottom--card span {
  font-weight: 600;
}

.wrapper-bottom--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 2em 4em 2em;
  background-color: white;
  padding: 1.5em;
  border-radius: 15px;
  -webkit-box-shadow: 0px 6px 0px var(--cc-dark-blue-);
          box-shadow: 0px 6px 0px var(--cc-dark-blue-);
}

.wrapper-bottom--form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-bottom--form input {
  font-weight: 600;
  padding: 1em;
  margin-top: 1em;
  border-radius: 5px;
  border: 1px solid var(--cc-gray-blue-);
}

.wrapper-bottom--form input:focus {
  outline: none;
}

.wrapper-bottom--form button {
  margin: 1em 0em 1em 0em;
  background-color: var(--cc-green-);
  border-radius: 5px;
  border-style: none;
  color: white;
  text-transform: uppercase;
  padding: 1em 1.6em 1em 1.6em;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 0px var(--cc-dark-blue-);
          box-shadow: 0px 3px 0px var(--cc-dark-blue-);
}

.wrapper-bottom--form button:focus {
  outline: none;
}

.wrapper-bottom--form footer {
  text-align: center;
  font-size: 0.75rem;
  color: var(--cc-gray-blue-);
}

.wrapper-bottom--form footer span {
  color: var(--cc-red-);
  font-weight: 600;
}

.wrapper-bottom--form footer a, .wrapper-bottom--form footer a:hover, .wrapper-bottom--form footer a:visited, .wrapper-bottom--form footer a:active {
  text-decoration: none;
}

#first-name small, #last-name small, #email small, #password small {
  display: none;
  color: var(--cc-red-);
  text-align: right;
  font-size: 0.5rem;
}

#first-name img, #last-name img, #email img, #password img {
  display: none;
  position: absolute;
  right: 75px;
  height: 20px;
  -webkit-transform: translateY(-175%);
          transform: translateY(-175%);
}

#first-name input:focus, #last-name input:focus, #email input:focus, #password input:focus {
  outline: none;
}

#first-name.error small, #last-name.error small, #email.error small, #password.error small {
  display: block;
  color: var(--cc-red-);
  text-align: right;
  font-size: 0.5rem;
}

#first-name.error img, #last-name.error img, #email.error img, #password.error img {
  display: block;
  position: absolute;
  right: 75px;
  height: 20px;
  -webkit-transform: translateY(-175%);
          transform: translateY(-175%);
}

#first-name.error input, #last-name.error input, #email.error input, #password.error input {
  border: 1px solid var(--cc-red-);
  color: var(--cc-red-);
}

@media (min-width: 375px) {
  input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 768px) {
  body {
    background-image: url("/images/bg-intro-desktop.png");
    background-position: center;
    background-repeat: repeat;
  }
  input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #first-name.error img, #last-name.error img, #email.error img, #password.error img {
    display: block;
    position: absolute;
    right: 265px;
    height: 20px;
    -webkit-transform: translateY(-175%);
            transform: translateY(-175%);
  }
}

@media (min-width: 1000px) {
  html, body {
    height: 100%;
  }
  html {
    display: table;
    margin: auto;
  }
  body {
    display: table-cell;
    vertical-align: middle;
    background-image: url("/images/bg-intro-desktop.png");
    background-position: center;
    background-repeat: repeat;
  }
  input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: "wrapper-top wrapper-bottom";
  }
  .wrapper-bottom {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: wrapper-bottom;
  }
  .wrapper-top {
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: wrapper-top;
  }
  .wrapper-top header {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 2em;
  }
  .wrapper-top p {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    margin: 0em 0.75em 2em 0.75em;
  }
}

@media (min-width: 1000px) {
  .wrapper-top {
    max-width: 50%;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .wrapper-bottom {
    -ms-grid-column-align: start;
        justify-self: start;
    padding-right: 12em;
  }
}

@media (min-width: 1750px) {
  .wrapper-top {
    max-width: 50%;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .wrapper-bottom {
    -ms-grid-column-align: start;
        justify-self: start;
    padding-right: 30em;
  }
  #first-name.error img, #last-name.error img, #email.error img, #password.error img {
    display: block;
    position: absolute;
    right: 565px;
    height: 20px;
    -webkit-transform: translateY(-175%);
            transform: translateY(-175%);
  }
}
/*# sourceMappingURL=styles.css.map */