@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --cc-red-: hsl(0, 100%, 74%);
  --cc-green-: hsl(154, 59%, 51%);
  --cc-blue-: hsl(248, 32%, 49%);
  --cc-dark-blue-: hsl(249, 10%, 26%, 0.3);
  --cc-gray-blue-: hsl(246, 25%, 77%);
  --ff-poppins-: 'Poppins', sans-serif;
}

* {
  font-family: var(--ff-poppins-);
}

body {
  background-image: url(/images/bg-intro-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--cc-red-);
  font-size: 1rem;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "wrapper-top" "wrapper-bottom";
}

.wrapper-top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: wrapper-top;
  margin: 4em 2em 4em 2em;
  color: white;
  text-align: center;
  font-size: 0.75rem;
}

.wrapper-top header {
  margin-bottom: 2em;
}

.wrapper-top p {
  font-weight: 500;
  margin: 0em 0.75em 2em 0.75em;
}

.wrapper-bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: wrapper-bottom;
}

.wrapper-bottom--card {
  margin: 0em 2em 0em 2em;
  background-color: var(--cc-blue-);
  padding: 1em 2em 1em 2em;
  border-radius: 15px;
  text-align: center;
  color: white;
  -webkit-box-shadow: 0px 6px 0px var(--cc-dark-blue-);
          box-shadow: 0px 6px 0px var(--cc-dark-blue-);
}

.wrapper-bottom--card span {
  font-weight: 600;
}

.wrapper-bottom--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 2em 4em 2em;
  background-color: white;
  padding: 1.5em;
  border-radius: 15px;
  -webkit-box-shadow: 0px 6px 0px var(--cc-dark-blue-);
          box-shadow: 0px 6px 0px var(--cc-dark-blue-);
}

.wrapper-bottom--form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-bottom--form input {
  max-width: 90%;
  font-weight: 600;
  padding: 1em;
  margin-top: 1em;
  border-radius: 5px;
  border: 1px solid var(--cc-gray-blue-);
}

.wrapper-bottom--form input:focus {
  outline: none;
}

.wrapper-bottom--form button {
  margin: 1em 0em 1em 0em;
  background-color: var(--cc-green-);
  border-radius: 5px;
  border-style: none;
  color: white;
  text-transform: uppercase;
  padding: 1em 1.6em 1em 1.6em;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 0px var(--cc-dark-blue-);
          box-shadow: 0px 3px 0px var(--cc-dark-blue-);
}

.wrapper-bottom--form button:focus {
  outline: none;
}

.wrapper-bottom--form footer {
  text-align: center;
  font-size: 0.75rem;
  color: var(--cc-gray-blue-);
}

.wrapper-bottom--form footer span {
  color: var(--cc-red-);
  font-weight: 600;
}

.wrapper-bottom--form footer a, .wrapper-bottom--form footer a:hover, .wrapper-bottom--form footer a:visited, .wrapper-bottom--form footer a:active {
  text-decoration: none;
}

#first-name small, #last-name small, #email-address small, #password small {
  display: none;
  color: var(--cc-red-);
  text-align: right;
  font-size: 0.5rem;
}

#first-name img, #last-name img, #email-address img, #password img {
  display: none;
  position: absolute;
  right: 75px;
  height: 20px;
  -webkit-transform: translateY(-175%);
          transform: translateY(-175%);
}

#first-name input:focus, #last-name input:focus, #email-address input:focus, #password input:focus {
  outline: none;
}

#first-name.error small, #last-name.error small, #email-address.error small, #password.error small {
  display: block;
  color: var(--cc-red-);
  text-align: right;
  font-size: 0.5rem;
}

#first-name.error img, #last-name.error img, #email-address.error img, #password.error img {
  display: block;
  position: absolute;
  right: 75px;
  height: 20px;
  -webkit-transform: translateY(-175%);
          transform: translateY(-175%);
}

#first-name.error input, #last-name.error input, #email-address.error input, #password.error input {
  color: var(--cc-red-);
}
/*# sourceMappingURL=styles.css.map */